<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini app de CRUD con un Login</title>
    <link rel="stylesheet" href="../views/styles.css">
    <script src="../views/main.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="login-modal">
            <form class="form-login">
                <h2>Login</h2>
                <div class="fieldbox">
                    <label for="user-input">Enter your username</label>
                    <input type="text" placeholder="Username" class="input-form username" id="user-input">
                </div>
                <div class="fieldbox">
                    <label for="password-input">Enter your password</label>
                    <input type="password" placeholder="password" class="input-form password" id="password-input">
                </div>
                <button type="submit" class="btn btn-submit">Log in</button>
            </form>
        </div>
    </div>
</body>
</html>